{%extends "template.html"%}
{%block body%}
<h2>Please enter the number of pokemon you would like to see.</h2>
<table>
    <form action="{{url_for('numberOfPokemon')}}" method="post">
        <tr>
            <td><label for="number">Number:</label></td>
            <td>
                <input type="number" name="number" id="number" placeholder="Number of Pokemon">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </form>
</table>
{%endblock%}